
container {
    border: solid yellowgreen;
    width: 300px;
    margin: 8px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

img {
    height: auto;
    width: 250px;
}

input {
    color: darkgreen;
    display: flex;
    flex-wrap: wrap;
}

form {
    background-color: #8eaf8e;
}

/*footer {*/
/*    margin-top: 40px;*/
/*    background-color: #a9daa9;*/
/*}*/

/*h4{*/
/*    margin-right: 15px;*/
/*    margin-left: 15px;*/
/*}*/

/*div {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    margin-right: 15px;*/
/*    margin-left: 15px;*/
/*}*/